pylint==3.3.6
Django==5.1.7
pylint-django==2.6.1
Flask==3.1.0
pylint-flask==0.6
pylint-common==0.2.5
pylint-celery==0.3
SaltPyLint==2024.2.5
jsonpickle==4.0.2
asttokens==3.0.0
pylint-beam==0.1.2
pylint-pytest==1.1.8