pylint==3.3.1
Django==5.1.1
pylint-django==2.5.5
Flask==3.1.0
pylint-flask==0.6
pylint-common==0.2.5
pylint-celery==0.3
SaltPyLint==2024.2.5
jsonpickle==3.3.0
asttokens==2.4.1
pylint-beam==0.1.2
pylint-pytest==1.1.8